mixin heading(title, desc)
  .col-12.text-center
    .top-line
      h2= title
      p.italic= desc



mixin small-heading(title, desc)
  .col-12.text-center
      .heading-wrap
        h3= title
        p.italic= desc

mixin card(title)
  .card
    h3= title
    p.card-text Lorem ipsum dolor sit amet, id altera persequeris vim, mea an appareat prodesset. Cu mea error eripuit delicata. Nec soluta aliquid similique eu.

mixin btn-center(title)
  .btn-center-wrap
    a.btn(href='#')= title
